h1{color: black; 
   text-align: center;
  }

.header{display: flex; 
        margin: 10px;
        background-color:plum;  
        justify-content: center; 
       }

.grid{display: flex;
      background-color: royalblue;
      justify-content: space-evenly;

}

.item{display: flex;
      padding: 10px;
      border-width: 20px;
}